<ng-template #content let-modal class="fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormTitle"
    aria-hidden="true">
    <div class="modal-body container-fluid">
        <div class="row">
            <div class="col-9">
                <p class="body-head ms-0 ms-sm-3">{{add?'Agregar':'Editar'}} experiencia</p>
            </div>
            <div class="col-3">
                <button aria-hidden="true" type="button"
                    class="close me-0 me-sm-2 ms-auto d-flex justify-content-center align-items-center"
                    data-dismiss="modal" aria-label="Close" tabindex="0" (click)="close()">
                    <fa-icon [icon]="faExit"></fa-icon>
                </button>
            </div>
        </div>
        <form class="container px-0" [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()">
            <div class="row mt-4 px-3">
                <mat-form-field appearance="outline">
                    <mat-label>Empresa</mat-label>
                    <input matInput id="company" name="company" formControlName="company" [errorStateMatcher]="matcher">
                    <button *ngIf="Company?.value" class="close clear me-2" matSuffix aria-label="Clear"
                        (click)="Company?.setValue('')">
                        <fa-icon [icon]="faExit"></fa-icon>
                    </button>
                    <mat-error *ngIf="Company?.hasError('minlength') && Company?.touched">El nombre de la empresa debe
                        tener al menos 2 caracteres</mat-error>
                    <mat-error *ngIf="Company?.hasError('maxlength')">El nombre de la empresa debe tener menos de 20
                        caracteres</mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-4 px-3">
                <mat-form-field appearance="outline">
                    <mat-label>Posición</mat-label>
                    <input matInput id="position" name="position" formControlName="position"
                        [errorStateMatcher]="matcher">
                    <button *ngIf="Position?.value" class="close clear me-2" matSuffix aria-label="Clear"
                        (click)="Position?.setValue('')">
                        <fa-icon [icon]="faExit"></fa-icon>
                    </button>
                    <mat-error *ngIf="Position?.hasError('minlength') && Position?.touched">La posición debe tener al
                        menos 3 caracteres</mat-error>
                    <mat-error *ngIf="Position?.hasError('maxlength')">La posición debe tener menos de 25
                        caracteres</mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-4 px-3">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de empleo</mat-label>
                    <mat-select formControlName="employTypeId" name="employTypeId" id="employTypeId"
                        placeholder="Seleccione un tipo de empleo...">
                        <mat-option *ngFor="let item of types" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row justify-content-center mt-4 px-3">
                <div class="col-12 col-md-6 text-center">
                    <mat-form-field appearance="outline" class="px-0 w-100">
                        <mat-label>Fecha de inicio</mat-label>
                        <input matInput [matDatepicker]="startPicker" id="startDate" name="startDate"
                            formControlName="startDate" [max]="today" />
                        <mat-hint>MM/AAAA</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, StartDate!, startPicker)" panelClass="datepicker"
                            [touchUi]="windowWidth < 578"></mat-datepicker>
                    </mat-form-field>
                    <div class="text-start py-0 my-0">
                        <mat-checkbox formControlName="current" color="accent">En curso</mat-checkbox>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0 text-center">
                    <mat-form-field appearance="outline" class="px-0 w-100">
                        <mat-label>Fecha de fin</mat-label>
                        <input matInput [matDatepicker]="endPicker" id="endDate" name="endDate"
                            formControlName="endDate" />
                        <mat-hint>MM/AAAA</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, EndDate!, endPicker)" panelClass="datepicker"
                            [touchUi]="windowWidth < 578"></mat-datepicker>
                        <mat-error *ngIf="EndDate?.hasError('endafter')">La fecha de fin no puede ser menor a la de
                            inicio</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-4 px-3">
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput cdkTextareaAutosize name="description" id="description"
                        formControlName="description" maxlength="350" rows="3"></textarea>
                    <button *ngIf="Description?.value" class="close clear me-2" matSuffix aria-label="Clear"
                        (click)="Description?.setValue('')">
                        <fa-icon [icon]="faExit"></fa-icon>
                    </button>
                    <mat-hint [align]="'end'">{{Description?.value? Description?.value.length:0}}/350</mat-hint>
                </mat-form-field>
            </div>
            <div class="row justify-content-center mb-4 pt-4">
                <input class="btn btn-lg btn-block col-7 col-sm-5 submit" type="submit" value="Guardar" />
            </div>
        </form>
    </div>
</ng-template>