<ng-template #content let-modal class="fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormTitle"
    aria-hidden="true">
    <div class="modal-body container-fluid">
        <div class="row">
            <div class="col-9">
                <p class="body-head ms-0 ms-sm-3">Editar perfil</p>
            </div>
            <div class="col-3">
                <button aria-hidden="true" type="button"
                    class="close me-0 me-sm-2 ms-auto d-flex justify-content-center align-items-center"
                    data-dismiss="modal" aria-label="Close" tabindex="0" (click)="close()">
                    <fa-icon [icon]="faExit"></fa-icon>
                </button>
            </div>
        </div>
        <form class="container px-0" [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="row justify-content-center mt-4 px-3">
                <div class="col-6 text-center">
                    <mat-form-field appearance="outline" class="px-0 w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput id="name" name="name" formControlName="name" />
                        <button *ngIf="Name?.value" class="close clear me-2" matSuffix aria-label="Clear"
                            (click)="Name?.setValue('')">
                            <fa-icon [icon]="faExit"></fa-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-6 text-center">
                    <mat-form-field appearance="outline" class="px-0 w-100">
                        <mat-label>Apellido</mat-label>
                        <input matInput id="surname" name="surname" formControlName="surname" />
                        <button *ngIf="Surname?.value" class="close clear me-2" matSuffix aria-label="Clear"
                            (click)="Surname?.setValue('')">
                            <fa-icon [icon]="faExit"></fa-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-4 px-3">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Título/s</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter titles" formControlName="title" id="title" name="title">
                        <mat-chip-row *ngFor="let title of titles" (removed)="remove(title)" [editable]="true"
                            (edited)="edit(title, $event)" [aria-description]="'press enter to edit ' + title">
                            {{title}}
                            <button matChipRemove [attr.aria-label]="'remove ' + title">
                                <fa-icon [icon]="faExit" class="d-flex align-items-center"></fa-icon>
                            </button>
                        </mat-chip-row>
                        <input placeholder="Nuevo título..." [matChipInputFor]="chipGrid"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                            maxlength=30 (matChipInputTokenEnd)="added($event)" />
                    </mat-chip-grid>
                    <mat-error *ngIf="Title?.hasError('maxlength')">Puede incluir un máximo de 2 títulos</mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-4 px-3">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" name="email" formControlName="email">
                    <button *ngIf="Email?.value" class="close clear me-2" matSuffix aria-label="Clear"
                        (click)="Email?.setValue('')">
                        <fa-icon [icon]="faExit"></fa-icon>
                    </button>
                    <mat-error *ngIf="Email?.hasError('email') && Email?.touched">Ingrese un email válido</mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="row justify-content-center mt-4 px-3">
                <div class="col-8">
                    <mat-form-field appearance="outline" class="px-0 w-100">
                        <mat-label>Teléfono 1</mat-label>
                        <input matInput id="phone1" name="phone1" formControlName="phone1" />
                        <button *ngIf="Phone1?.value" class="close clear me-2" matSuffix aria-label="Clear"
                            (click)="Phone1?.setValue('')">
                            <fa-icon [icon]="faExit"></fa-icon>
                        </button>
                        <mat-error *ngIf="Phone1?.hasError('pattern') && Phone1?.touched">Ingrese un número de teléfono
                            válido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="phoneType1" name="phoneType1" id="phoneType1">
                            <mat-option value="Móvil">Móvil</mat-option>
                            <mat-option value="Fijo">Fijo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-center mt-3 px-3">
                <div class="col-8">
                    <mat-form-field appearance="outline" class="px-0 w-100">
                        <mat-label>Teléfono 2</mat-label>
                        <input matInput id="phone2" name="phone2" formControlName="phone2" />
                        <button *ngIf="Phone2?.value" class="close clear me-2" matSuffix aria-label="Clear"
                            (click)="Phone2?.setValue('')">
                            <fa-icon [icon]="faExit"></fa-icon>
                        </button>
                        <mat-error *ngIf="Phone2?.hasError('pattern') && Phone2?.touched">Ingrese un número de teléfono
                            válido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="phoneType2" name="phoneType2" id="phoneType2">
                            <mat-option value="Móvil">Móvil</mat-option>
                            <mat-option value="Fijo">Fijo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row justify-content-center mt-4 px-3">
                <div class="col-6 text-center">
                    <mat-form-field appearance="outline" class="px-0 w-100">
                        <mat-label>País</mat-label>
                        <input matInput id="country" name="country" formControlName="country" />
                    </mat-form-field>
                </div>
                <div class="col-6 text-center">
                    <mat-form-field appearance="outline" class="px-0 w-100">
                        <mat-label>Provincia</mat-label>
                        <input matInput id="province" name="province" formControlName="province" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-center mt-4 px-3">
                <mat-form-field appearance="outline">
                    <mat-label>Foto</mat-label>
                    <!-- <ngx-mat-file-input formControlName="photo" name="photo" id="photo"
                        accept="image/jpg, image/png, image/jpeg"
                        placeholder="Seleccione una foto"></ngx-mat-file-input>
                    <fa-icon matSuffix [icon]="faFolder" class="close clear folder me-2"></fa-icon> -->
                    <input matInput id="photo" name="photo" formControlName="photo" />
                    <button *ngIf="Photo?.value" class="close clear me-2" matSuffix aria-label="Clear"
                        (click)="Photo?.setValue('')">
                        <fa-icon [icon]="faExit"></fa-icon>
                    </button>
                    <mat-hint>Inserte la dirección URL de su foto de perfil</mat-hint>
                    <mat-error *ngIf="Photo?.hasError('pattern')">Ingrese una dirección válida</mat-error>
                </mat-form-field>
            </div>
            <div class="row justify-content-center mb-4 pt-4">
                <input class="btn btn-lg btn-block col-7 col-sm-5 submit" type="submit" value="Guardar" />
            </div>
        </form>
    </div>
</ng-template>