<form class="signup-form container px-0" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center mt-5 px-1">
        <div class="col-6">
            <div class="input-group px-0">
                <div class="col-2 px-0">
                    <div class="input-group-prepend text-center px-0">
                        <label for="name"><div class="input-group-text"><fa-icon [icon]="faCircleUser"></fa-icon></div></label>
                    </div>
                </div>
                <div class="col-10 px-0">
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Your name" maxlength="12" autofocus/>
                </div>    
            </div>
            <p class="error" *ngIf="Name?.hasError('required') && Name?.touched">Name required</p>
        </div>
        <div class="col-6">
            <div class="input-group px-0">
                <div class="col-2 px-0">
                    <div class="input-group-prepend text-center px-0">
                        <label for="surname"><div class="input-group-text"><fa-icon [icon]="faCircleUser"></fa-icon></div></label>
                    </div>
                </div>
                <div class="col-10 px-0">
                    <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Your surname" maxlength="20"/>
                </div>
            </div>
            <p class="error" *ngIf="Surname?.hasError('required') && Surname?.touched">Surname required</p>
        </div>
    </div>
    <div class="row justify-content-center my-4 px-3">
        <div class="input-group px-0">
            <div class="col-1 px-0">
                <div class="input-group-prepend text-center px-0">
                    <label for="mail"><div class="input-group-text"><fa-icon [icon]="faAt"></fa-icon></div></label>
                </div>
            </div>
            <div class="col-11 px-0">
                <input type="email" class="form-control" id="mail" formControlName="mail" placeholder="Your email" maxlength="40"/>
            </div>
        </div>
        <p class="error" *ngIf="Mail?.errors && Mail?.touched">Enter a valid email.</p>
    </div>
    <div class="row justify-content-center my-4 px-3">
        <div class="input-group px-0">
            <div class="col-1 px-0">
                <div class="input-group-prepend text-center px-0">
                    <label for="password"><div class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></div></label>
                </div>
            </div>
            <div class="col-10 px-0">
                <input [type]="show?'text':'password'" class="form-control" id="password" formControlName="password" placeholder="Your password" maxlength="20" (paste)="false"/>
            </div>
            <div class="col-1 show text-center">
                <fa-icon [icon]="!show? faEye:faEyeSlash" (click)="toggleVisibility()" (keyup.enter)="toggleVisibility()" class="show-icon" [class.visible]="show" tabindex="0" onclick="blur()"></fa-icon>
            </div>
        </div>
        <div *ngIf="Password?.errors">
            <p class="error" *ngIf="Password?.hasError('required') && Password?.touched">Please add a password.</p>
            <p class="error" *ngIf="Password?.hasError('pattern')&& Password?.touched">Your password should contain special characters, uppercase, lowercase and numbers.</p>
            <p class="error" *ngIf="Password?.hasError('minlength')">Your password should contain at least 8 characters.</p>
            <!-- <p class="error" *ngIf="Password?.hasError('maxlength')">Your password should contain no more than 20 characters.</p> -->
        </div>
    </div>
    <div class="row justify-content-center my-4 px-3">
        <div class="input-group px-0">
            <div class="col-1 px-0">
                <div class="input-group-prepend text-center px-0">
                    <label for="confirm"><div class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></div></label>
                </div>
            </div>
            <div class="col-10 px-0">
                <input [type]="showConfirm?'text':'password'" class="form-control" id="confirm" formControlName="confirm" placeholder="Confirm password" (paste)="false"/>
            </div>
            <div class="col-1 show text-center">
                <fa-icon [icon]="!showConfirm? faEye:faEyeSlash" (click)="toggleConfirmVisibility()" (keyup.enter)="toggleConfirmVisibility()" class="show-icon" [class.visible]="showConfirm" tabindex="0" onclick="blur()"></fa-icon>
            </div>
        </div>
        <div>
            <p class="error" *ngIf="Confirm?.hasError('required') && Confirm?.touched">Please confirm password.</p>
            <p class="error" *ngIf="Confirm?.hasError('confirmValidator') && Confirm?.touched">Password doesn't match.</p>
        </div>
    </div>
    <div class="row justify-content-center my-5 pt-5">
        <input class="btn btn-lg btn-block col-5" type="submit" value="Submit"/>
    </div>
</form>