.about {
	height: 100vh;
	display: grid;
	align-items: center;
}

.card {
	background: transparent !important;
	border: none;
	height: 288px;
	opacity: 0;
	transform: rotateX(-60deg);
	transition: opacity .6s ease-in-out, transform 1s ease-in-out;
}

.card.fade-in {
	opacity: 1;
	transform: rotateX(0);
}

.edition {
	position: absolute;
	right: 6vw;
	top: -100px;
	width: fit-content;
}

.card_content {
	color: grey;
	text-align: center;
	position: relative;
	padding: 5em;
	transition: transform 3.5s ease-in-out;
	transform-style: preserve-3d;
	height: 100%;
}

.card:hover {
	cursor: pointer;
}

.card:is(:hover, .flip) .card_content {
	transform: rotateY(0.5turn);
}

.card_front,
.card_back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	border-radius: 10px;
	background: var(--secondary-color);
}

.card_front {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 9em 4em;
}

.card_back {
	display: grid;
	align-content: center;
	padding: 9em 0em;
	transform: rotateY(0.5turn);
}

@keyframes borderAnimateLarge {
	0% {
		width: 0%;
	}

	33% {
		width: 21vw;
	}

	50% {
		width: 21vw;
	}

	83% {
		width: 0%
	}

	100% {
		width: 0%;
	}
}

@keyframes borderAnimateSmall {
	0% {
		width: 0%;
	}

	33% {
		width: 18vw;
	}

	50% {
		width: 18vw;
	}

	83% {
		width: 0%
	}

	100% {
		width: 0%;
	}
}

.card_front::after,
.card_front::before {
	position: absolute;
	content: "";
	top: 50%;
	border-top: 4px solid var(--primary-color);
	transform: translateZ(2rem);
	animation: borderAnimateLarge 5s infinite;
}

.card_front::after {
	left: 3em;
}

.card_front::before {
	right: 3em;
}

.card:hover .card_front::after,
.card:hover .card_front::before {
	animation-play-state: paused;
}

.card_title {
	font-size: 3.5rem;
	transform: translateZ(2rem);
	color: var(--primary-color);
	text-transform: uppercase;
	font-family: 'Averia Serif Libre', cursive;
}

.card_subtitle {
	transform: translateZ(2rem);
	font-weight: 500;
}

.card_body {
	transform: translateZ(2rem);
	text-align: center;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.705);
	border: 2px solid var(--primary-color);
	padding: .5em;
	margin: 1.2em;
	height: 100% !important;
}

@media screen and (width<1530px) {

	.card_front::after,
	.card_front::before {
		animation: borderAnimateSmall 5s infinite;
	}
}

@media screen and (width<=890px) {

	.card_back,
	.card_front {
		padding-top: 10em;
		padding-bottom: 10em;
	}

	.card_front::after {
		left: 2em;
	}

	.card_front::before {
		right: 2em;
	}

	.card_front::after,
	.card_front::before {
		animation: borderAnimateSmall 5s infinite;
	}

	.card_body {
		padding: 0;
	}
}

@media screen and (width<=676px) {
	.card_body {
		border: none;
	}
}

@media screen and (width<576px) {
	.about {
		place-items: center;
		height: auto;
	}

	.edition {
		top: -30px;
		left: 0px;
		right: auto;
	}
}

.small-version p {
	font-size: 1em;
	color: rgba(255, 255, 255, 0.705);
	text-align: justify;
}