<article class="about d-flex justify-content-center">
    <div class="card my-5">
        <div class="card_content">
            <div class="card_front">
                <h3 class="card_title">
                    About me
                </h3>
                <!-- <p class="card_subtitle">
                    Learn more about me
                </p> -->
            </div>
            <div class="card_back">
                <p class="card_body my-0">
                    Lorem ipsum dolor sit amet, ius et vidisse aliquip, viderer invenire duo ad. Alii salutandi nam te. Inani semper integre ex eam. Usu no reque copiosae. Id ornatus consetetur his, eum zril quaerendum ut, an dico rebum definitionem duo.            </p> 
            </div>
        </div>
    </div>
</article>

