<header id="header">
    <div class="container-fluid name-logo">
        <div class="logo" elementObserver (visible)="isIntersecting()" [wait]="250" [class.fade-in]="intersecting"><div><span>{{defineName()}}</span>{{defineSurname()}}</div></div>
     </div>
    <ngb-carousel id="carousel" #asCarousel (slid)="resetTimer($event)">
        <ng-template class="carousel-item" ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
                <img [src]="image" alt="Random first slide" class="d-block carousel-img"/>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="carousel-caption container-fluid mx-0 px-0">
        <div class="row mx-0">
            <div class="col mx-0">
                <h5 class="photo-title">My resume</h5>
                <button class="btn btn-outline-primary photo-btn mt-1" href="#">
                    <fa-icon [icon]="faDownload"></fa-icon>
                    <span>Download</span> 
                </button>
            </div>
        </div>
    </div>
</header>