<div class="item p-3 p-sm-5 p-md-5 px-md-4 p-xl-0 p-xl-5"
    [ngStyle]="{'--project-image':project.image?'url('+project.image+')':'url(https://acortar.link/bx6RsJ)'}"
    elementObserver (visible)="visible=true" [threshold]="0.10" [class.visible]="visible" [class.odd]="!even">
    <h2 class="title">{{project.title}}</h2>
    <div class="links d-flex gap-3">
        <a [href]="project.link" target="_blank" rel="noreferrer noopener"><fa-icon [icon]="faLink"
                class="resources"></fa-icon></a>
        <a [href]="project.repo" target="_blank" rel="noreferrer noopener"><fa-icon [icon]="faCode"
                class="resources"></fa-icon></a>
        <a *ngIf="project.collection" [href]="project.collection" target="_blank" rel="noreferrer noopener"><fa-icon
                [icon]="faCodePen" class="resources"></fa-icon></a>
    </div>
    <p class="description pb-5 text-center">{{project.description}}</p>
</div>