<div class="item p-3 p-sm-5 p-md-5 px-md-4 p-xl-0 p-xl-5" [ngStyle]="{'--project-image':'url('+project.image+')'}" elementObserver (visible)="visible=true" [threshold]="0.10" [class.visible]="visible" [class.odd]="!even">
    <h2 class="title">{{project.name}}</h2>
    <div class="links d-flex gap-3">
        <a [href]="project.repo"><fa-icon [icon]="faCode" class="resources"></fa-icon></a>
        <fa-icon [icon]="faCodePen" class="resources"></fa-icon>
    </div>
    <p class="description pb-5 text-center">{{project.description}}</p>
</div>
