.custom-backdrop{
    background-color: var(--primary-color);
}
.modal-dialog{
    max-width: 700px;
}

.modal-content{
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
}

.close{
    background-color: transparent;
    font-size: 30px;
    border-radius: 50%;
    color: var(--modal-color);
    width: 45px;
    height: 45px;
    border:3px solid transparent;
    transition: color ease-in-out .3s,
                border ease-in-out .3s;
}
.close:is(:hover, :focus){
    border:3px solid var(--primary-color);
    color:var(--primary-color);
    outline: none;
}
.close fa-icon{
    display: grid;
    place-items: center;
}

.modal-body{
    font-size: 20px;
    color:var(--modal-color);
}

.modal-body .body-head{
    font-size: 25px;
    font-weight: 500;
    color:var(--primary-color);
}

@media screen and (width<380px) {
    .col-10.data{
        width:100%;
    }

    .modal-header h5{
        font-size: 15px;
    }

    .data p{
        font-size:18px;
    }

    .modal-body .body-head{
        font-size:22px;
    }

    .close{
        font-size:20px;
        padding:.5em;
    }

    .modal-content{
        padding:0;
    }
}


@media screen and (width>576px) {
    .modal-content{
        min-width: 650px;
    }
}


.form-control{
    background-color: transparent !important;
    border: none;
    height: 100%;
    color:var(--primary-color) !important;
    font-weight: 700;
}

.form-control:focus{
    box-shadow: none;
}

input.btn{
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    letter-spacing: 1px;
}

input.btn:hover{
    background:var(--primary-color);
    color:var(--secondary-color);
}

.mat-mdc-select .mat-mdc-select-placeholder{
    transition: all 200ms linear !important;
}

:is(input, textarea):-ms-input-placeholder{
    opacity: 0.7;
    -webkit-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
}

:is(input, textarea)::-moz-placeholder{
    opacity: 0.7;
    -webkit-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
}

:is(input, textarea):-moz-placeholder{
    opacity: 0.7;
    -webkit-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
}

:is(input, textarea)::-webkit-input-placeholder{
    opacity: 0.7;
    -webkit-transition: all 200ms linear !important;
    transition: all 200ms linear !important;
} 

:is(input, textarea):focus::-webkit-input-placeholder{
    opacity: 0 !important;
}

input.form-control:autofill{
    box-shadow:0 0 0 50px var(--plain-color) inset;
    color: var(--primary-color);  
}

input.form-control:-webkit-autofill{
    -webkit-box-shadow:0 0 0 50px var(--plain-color) inset;
    -webkit-text-fill-color: var(--primary-color);
}

p.error{
    color:red;
    display: block;
    font-weight: bold;
    user-select: none;
    padding-top: 2px;
    font-size: 14px;
    margin-bottom: 0;
    height: 23px;
}

:is(input, textarea, select).form-control{
    background-color: var(--plain-color) !important;
    padding: 12px 20px;
    border-radius: 10px;
}

option:not(:checked){
    font-weight: 400;
    padding: 10px 0px;
    border-bottom: 2px solid grey;
}

.custom-select{
    position: relative;
    height: fit-content;
}

.custom-select::after{
    position: absolute;
    content:'';
    width: 0;
    height: 0;
    top:calc(50% - 4px);
    right: 30px;
    border-top: 7px solid var(--primary-color);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 0;
}

h4{
    transition: color .1s ease-in-out;
}

.current label{
    color:var(--primary-color);
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.current div{
    display: flex;
    align-items: center;
}
.current input{
    appearance: none;
    background:var(--plain-color);
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: grid;
    place-content: center;
    position: relative;
    cursor: pointer;
}

.current input::after{
    content:'';
    background-color: var(--primary-color);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    transform: scale(0);
    clip-path: polygon(33% 67%, 100% 5%, 100% 36%, 39% 100%, 24% 100%, 0 61%, 19% 47%);
    transition: transform .3s ease-in-out;
}

.current input:checked::after{
    transform:scale(.75);
}

.form-control:disabled{
    color:var(--secondary-color) !important;
    background-color: rgba(0, 0, 0, 0.445) !important;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.cdk-overlay-container{
    z-index: 1061;
}

/* .mdc-text-field--filled:not(.mdc-text-field--disabled), .mdc-text-field--outlined:not(.mdc-text-field--disabled){
    background-color: var(--plain-color);
    border-radius: 10px;
}

mat-label :not(.mdc-text-field--invalid), .mdc-text-field:not(.mdc-text-field--invalid, .mdc-text-field--disabled) .mdc-floating-label{
    color:var(--primary-color);
}
.mdc-text-field:not(.mdc-text-field--invalid, .mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: var(--primary-color);
    color:var(--primary-color);
}

.mat-mdc-icon-button, .mat-datepicker-toggle{
    --mat-mdc-button-persistent-ripple-color: var(--primary-color);
    color: var(--primary-color);
    opacity:.85;
    transition:color .15s ease-out;
}*/
.mdc-text-field--invalid .mat-mdc-icon-button{
    color:red;
    --mat-mdc-button-persistent-ripple-color: red;
}
.mdc-text-field--focused:not(.mdc-text-field--invalid) .mat-mdc-icon-button {
    color: rgba(var(--rgb-color,.87));
    --mat-mdc-button-persistent-ripple-color: var(--primary-color);
}
.mat-form-field-invalid .mat-mdc-form-field-bottom-align mat-hint{
    color:red;
}
.mat-focused:not(.mat-form-field-invalid) .mat-mdc-form-field-bottom-align mat-hint{
    color:var(--primary-color);
}
/*
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: var(--datepicker-exit);
}

.mdc-text-field--invalid .mdc-text-field__input {
    caret-color: red;
}

.mdc-text-field--filled .mdc-line-ripple::after{
    border-bottom-color: var(--tertiary-color);
}

.mat-calendar-body-selected,
.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
    background-color: rgba(var(--datepicker-effect), 0.5);
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgba(var(--datepicker-effect), 0.3);
}
.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
    color: var(--primary-color);
    font-weight: 600;
}

.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color: rgba(var(--rgb-color,.87));
}

.mat-mdc-select-value {
    color: var(--primary-color);
}*/

.close.clear{
    border: none;
    transition: background-color .2s ease-in-out;
    font-size: 22.5px;
    height: 37.5px;
    width: 37.5px;
}

.close.clear:is(:hover, :focus){
    background-color: rgba(128, 128, 128, 0.343);
    border: none;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled) .close.clear:is(:hover, :focus){
    color:red;
}

/* .mdc-text-field--outlined:not(.mdc-text-field--disabled, .mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline 
:is(.mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing) {
    border-color: var(--primary-color);
}  */

.mat-mdc-checkbox .mdc-form-field label{
    font-size: 15px;
}

.mat-mdc-form-field:has(textarea) :is(.mat-mdc-form-field-icon-prefix, .mat-mdc-form-field-icon-suffix){
    align-self:start;
    margin-top: 10px;
}