<section class="personal-info container-fluid inverse">
    <div class="row">
        <div class="photo col-3 col-lg-2 d-none d-md-block">
            <img [src]="personalInfo?.photo? personalInfo?.photo:'https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg'"
                alt="Personal picture">
        </div>
        <div class="col-12 col-md-9 col-lg-10 data">
            <div class="row head-info">
                <div class="name-title col-12 col-sm-9 col-lg-10 col-xxl-8 mt-4">
                    <h1>{{personalInfo?.name}} {{personalInfo?.surname}}</h1>
                    <h2 id="title" *ngIf="personalInfo?.title">
                        <div>{{personalInfo?.title}}</div>
                        <!-- <div class="d-inline-block me-5 me-sm-0">{{personalInfo?.title![0]}} </div><span
                            *ngIf="personalInfo?.title!.length>1" class="d-none d-lg-inline-block"> - </span>
                        <div *ngIf="personalInfo?.title!.length>1" class="d-inline-block">{{personalInfo?.title![1]}}
                        </div> -->
                    </h2>
                </div>
                <div class="place col-sm-2 col-lg-2 col-xxl-4 mt-4 d-none d-sm-inline-block">
                    <img class="img-fluid ub" src="https://ub.edu.ar/sites/default/files/inline-images/iso2022.jpg"
                        alt="Universidad de Belgrano">
                    <div class="d-none d-xxl-inline-block ms-3 text-center">Universidad de Belgrano</div>
                </div>
            </div>
            <div class="row other-info">
                <div class="info col-12 col-sm-9 col-lg-10 col-xxl-8 align-self-end">
                    <p><fa-icon class="me-2" [icon]="faLocationDot"></fa-icon> {{personalInfo?.province?.name}}
                        ({{personalInfo?.province?.country?.name}}) <span><a type="button" data-toggle="modal"
                                data-target="#contactModal">Contact info</a></span></p>
                    <app-contact-modal name="{{personalInfo?.name}} {{personalInfo?.surname}}"
                        [email]="personalInfo?.email!" [phone]="personalInfo?.phone!"></app-contact-modal>
                </div>
                <div class="place col-sm-3 col-lg-2 col-xxl-4 d-none d-sm-inline-block">
                    <img class="img-fluid pwc " src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Logo-pwc.png"
                        alt="Universidad de Belgrano">
                    <div class="d-none d-xxl-inline-block ms-4 text-center">Price Waterhouse & Coopers</div>
                </div>
            </div>
            <div class="row gap-2 mt-2 mt-sm-4 mt-md-4 mt-lg-4 mb-5 align-items-center">
                <button class="btn profile-btn btn-primary col-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-2">Tengo
                    interés en</button>
                <button
                    class="btn btn-outline-primary profile-btn col-12 col-sm-4 col-md-4 col-lg-4 col-xl-3 col-xxl-3">Añadir
                    sección</button>
                <button #asMore
                    class="btn btn-outline-light profile-btn col-md-1 col-lg-1 col-xl-1 col-xxl-1 d-none d-md-block"
                    id="more">{{windowWidth>1200? 'Más' : '...'}}</button>
            </div>
            <app-edition [horizontal]="windowWidth>=576" [editOnly]="true" (edition)="toggleModal()"
                class="edition mb-sm-2 me-2 me-sm-3 mt-3 mt-sm-0"></app-edition>
        </div>
    </div>
</section>
<app-add-personal-info (onUpdateItem)="save($event)"></app-add-personal-info>