<article class="personal-info container-fluid inverse">
    <div class="row">
        <div class="photo col-3 col-lg-2 d-none d-md-block">
            <img [src]="personalInfo.photo" alt="Personal picture">
        </div>
        <div class="col-12 col-md-9 col-lg-10" >
            <div class="row head-info">
                <div class="name-title col-12 col-sm-9 col-lg-10 col-xxl-8 mt-4">
                    <h1>{{personalInfo.name}}</h1>
                    <h2><div class="d-inline-block me-5 me-sm-0">{{personalInfo.title[0]}} </div><span class="d-none d-lg-inline-block"> - </span><div class="d-inline-block">{{personalInfo.title[1]}}</div></h2>
                </div>
                <div class="place col-sm-2 col-lg-2 col-xxl-4 mt-4 d-none d-sm-inline-block">
                    <img class="img-fluid ub" src="https://ub.edu.ar/sites/default/files/inline-images/iso2022.jpg" alt="Universidad de Belgrano">
                    <div class="d-none d-xxl-inline-block ms-3 text-center">Universidad de Belgrano</div>
                </div>
            </div>
            <div class="row other-info">
                <div class="info col-12 col-sm-9 col-lg-10 col-xxl-8 align-self-end">
                    <p><fa-icon class="me-2" [icon]="faLocationDot"></fa-icon> {{personalInfo.location.province}} ({{personalInfo.location.country}}) <span><a type="button" data-toggle="modal" data-target="#exampleModalLong">Contact info</a></span></p>
                    <app-contact-modal name="{{personalInfo.name}}" phoneNum="{{personalInfo.phone.number}}" phoneType="{{personalInfo.phone.type}}" mail="{{personalInfo.mail}}" ></app-contact-modal>
                </div>
                <div class="place col-sm-3 col-lg-2 col-xxl-4 d-none d-sm-inline-block">
                    <img class="img-fluid pwc " src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Logo-pwc.png" alt="Universidad de Belgrano">
                    <div class="d-none d-xxl-inline-block ms-4 text-center">Price Waterhouse & Coopers</div>
                </div>
            </div>
            <div class="row gap-3 mt-2 mt-sm-4 mt-md-4 mt-lg-2 mb-5">
                <button class="btn profile-btn btn-primary col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2">Open to</button>
                <button class="btn btn-outline-primary profile-btn col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 col-xxl-3">Add profile article</button>
                <button #asMore class="btn btn-outline-light profile-btn col-md-1 col-lg-1 col-xl-1 col-xxl-1 d-none d-md-block" id="more">{{moreContent}}</button>
            </div>
        </div>
    </div>
</article>
