<div class="row mb-2">
    <div class="col-12">
        <fa-icon [icon]="faLanguage" class="me-3"></fa-icon>
        <h1 class="language-name">{{language.name}}</h1>
    </div>
    
</div>
<div class="row oral mt-4 ms-3">
    <div class="col-12">
        <fa-icon [icon]="faOral"></fa-icon><span class="level">{{language.oral}}</span>
    </div>
</div>
<div class="row written mt-2 ms-3">
    <div class="col-12">
        <fa-icon [icon]="faWritten"></fa-icon> <span class="level">{{language.written}}</span>
    </div>
</div>

