<section class="projects container-fluid p-3 p-sm-5 mb-5" id="projects">
    <div class="row justify-content-end mt-5">
        <div class="col-12 col-md-8 mb-4 mb-md-0 d-flex justify-content-center">
            <h1 class="heading">Proyectos</h1>
        </div>
        <div class="col-12 col-md-2 pe-md-5 d-flex justify-content-center align-items-center">
            <app-edition class="edition" [horizontal]="windowWidth<1020" [showAdding]="true"
                (edition)="editMode = !editMode" (adding)="toggleModal()"></app-edition>
        </div>
    </div>
    <div class="row justify-content-center gap-lg-5 mt-4">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4  my-5 my-md-2"
            *ngFor="let project of projects; let evenItem = even">
            <app-edit-item [editMode]="editMode" (deleteItem)="deleteItem(project)"
                (updateItem)="passData(project)"></app-edit-item>
            <app-project-item [project]="project" [even]="evenItem"></app-project-item>
        </div>
    </div>
</section>
<app-add-project (onAddItem)="addItem($event)" (onUpdateItem)="saveItem($event)"></app-add-project>