<section class="projects container-fluid p-5" id="projects">
    <div class="row justify-content-center my-5">
        <h1 class="text-center">Projects</h1>
    </div>
    
    <div class="row justify-content-center project-row gap-lg-5">
        <div class="col-12 col-md-6 col-lg-5 col-xl-4 my-4" *ngFor="let project of projects">
            <div class="item p-3 p-sm-5 p-md-5 px-md-4 p-xl-0 p-xl-5" [ngStyle]="{'--project-image':'url('+project.image+')'}">
                <h2 class="title">{{project.name}}</h2>
                <div class="links d-flex gap-3">
                    <a [href]="project.repo"><fa-icon [icon]="faCode" class="resources"></fa-icon></a>
                    <fa-icon [icon]="faCodePen" class="resources"></fa-icon>
                </div>
                <p class="description pb-5">{{project.description}}</p>
            </div>
        </div>
    </div>
</section>