<form class="login-form container px-0" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row justify-content-center mt-5 px-3">
        <div class="input-group px-0">
            <div class="col-1 px-0">
                <div class="input-group-prepend text-center px-0">
                    <label for="username">
                        <div class="input-group-text"><fa-icon [icon]="faUsername"></fa-icon></div>
                    </label>
                </div>
            </div>
            <div class="col-11 px-0 position-relative">
                <input type="text" class="form-control col-8" id="username" name="username" formControlName="username"
                    placeholder="Tu usuario" />
            </div>
        </div>
        <p class="error"><span *ngIf="Username?.hasError('required') && Username?.touched">Username required</span></p>
    </div>
    <div class="row justify-content-center my-4 px-3">
        <div class="input-group px-0">
            <div class="col-1 px-0">
                <div class="input-group-prepend text-center px-0">
                    <label for="password">
                        <div class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></div>
                    </label>
                </div>
            </div>
            <div class="col-10 px-0">
                <input [type]="show?'text':'password'" class="form-control col-8" id="password" name="password"
                    formControlName="password" placeholder="Tu contraseña" (paste)="false" />
            </div>
            <div class="col-1 show text-center">
                <fa-icon [icon]="!show? faEye:faEyeSlash" (click)="toggleVisibility()"
                    (keyup.enter)="toggleVisibility()" class="show-icon" [class.visible]="show" tabindex="0"
                    onclick="blur()"></fa-icon>
            </div>
        </div>
        <p class="error"><span *ngIf="Password?.hasError('required') && Password?.touched">Password required</span></p>
    </div>
    <div class="row justify-content-center my-5 px-3">
        <div class="input-group px-0 remember">
            <div class="col-11 col-sm-7 col-md-5 px-0">
                <label for="remember">Recordarme</label>
            </div>
            <div class="col-1">
                <input type="checkbox" class="col-8" id="remember" name="remember" formControlName="remember"
                    placeholder="Your password" />
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5 pt-5">
        <input class="btn btn-lg btn-block col-5 submit" type="submit" value="Enviar"
            [class.btn-outline-secondary]="!form.valid" onclick="blur()" />
    </div>
</form>