<section class="pt-5 px-sm-5 pb-0 container-fluid">
    <div class="row">
        <button routerLink="/" class="btn btn-outline-secondary back m-3 m-sm-0">
            <fa-icon [icon]="faBack"></fa-icon>
        </button>
    </div>
    <div class="wrapper container-fluid bg-dark px-5 ms-md-5">
        <div class="row justify-content-center pt-5 mb-4 px-2">
            <h1 class="me-0 me-sm-1 me-md-2">Log In</h1>
        </div>
        <form class="login-form container px-0" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" (keydown.enter)="onSubmit()">
            <div class="row mt-5 px-3">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput id="username" name="username" formControlName="username">
                    <fa-icon class="ms-3 me-2"
                        [ngStyle]="{'color': Username?.invalid && Username?.touched? 'red':'var(--primary-color)'}"
                        matPrefix [icon]="faUsername"></fa-icon>
                </mat-form-field>
            </div>
            <div class="row mt-4 px-3">
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input [type]="show?'text':'password'" matInput id="password" name="password" formControlName="password">
                    <fa-icon class="ms-3 me-2"
                        [ngStyle]="{'color': Password?.invalid && Password?.touched? 'red':'var(--primary-color)'}"
                        matPrefix [icon]="faKey"></fa-icon>
                    <div #showbtn matSuffix class="show text-center me-3"
                        [ngStyle]="{'color': show?'grey': (Password?.invalid && Password?.touched?'red':'var(--primary-color)')}"
                        (click)="toggleVisibility()" (keyup.enter)="toggleVisibility()" tabindex="0">
                        <fa-icon [icon]="!show? faEye:faEyeSlash" class="show-icon"></fa-icon>
                    </div>
                </mat-form-field>
            </div>
            <div class="row mt-1 mb-4 px-3">
                <mat-checkbox class="remember" formControlName="remember" [color]="form.valid?'primary':'warn'">Recordarme</mat-checkbox>
            </div>
            <div class="row justify-content-center mb-5 pt-3">
                <input class="btn btn-lg btn-block col-9 col-sm-5" type="submit" value="Ingresar"
                    [class.btn-outline-secondary]="!form.valid" onclick="blur()" />
            </div>
        </form>
    </div>
</section>