.skill-name{
    color:white;
    text-transform: uppercase;
    font-size: 20px;
}
.progress-bar{
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 40000px;
    padding: 5px;
    height: 85%;
}

.progress{
    background-color: #23b3e4;
    border-radius: 40000px;
    transition: width 2s ease-out;
}

.progress.intersecting{
    width:auto;
}

.percentage{
    color:#23b3e4;
    border-radius: 50%;
    height:45px;
    width: 45px;
    font-weight:bold;
    display:flex;
    align-items: center;
    justify-content: center;
}

.percentage::after{
    content: '%';
    font-size: smaller;
    font-weight: lighter;
    margin-left:2.5px;
}

.progress-percentage{
    background-color: black;
    border-radius: 50%;
    width: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (width<378px){
    .progress-bar{
        height:75%;
    }

    .progress-percentage{
        margin-top:8px;
        justify-content: start;
        margin-left:0;
        padding-left: 0;
    }
}