<div class="row justify-content-center">
    <div class="col-11">
        <h1 class="skill-name">{{skill.name}}</h1>
    </div>
</div>
<div class="row align-items-center justify-content-center">
    <div class="col-10 progress-bar" elementObserver [threshold]="1" [wait]="100"
        (visible)="intersecting=true; setPercentage()">
        <span class="progress" [ngStyle]="intersecting?{'width': skill.progress+'%'}:{'width':'0%'}"></span>
    </div>
    <div class="col-2 col-sm-1 progress-perc-col px-0 ps-sm-3 justify-content-sm-start">
        <div class="progress-percentage">
            <span class="percentage">{{percentage}}</span>
        </div>
    </div>
</div>