<section class="education inverse container-fluid" id="education">
    <div class="row w-100 justify-content-end mt-5 mb-3 mb-xl-0">
        <div class="col-12 col-md-6 mb-4 mb-md-0 d-flex justify-content-center">
            <h1 class="heading">Estudios</h1>
        </div>
        <div class="col-12 col-md-3 pe-md-5 position-relative d-flex justify-content-center justify-content-md-end align-items-center">
            <app-edition class="position-absolute" [horizontal]="windowWidth<1020" [showAdding]="true"
                (edition)="editMode = !editMode" (adding)="toggleModal()"></app-edition>
        </div>
    </div>
    <div class="row w-100 card-row justify-content-center align-items-center mt-5">
        <div class="cards col-12 col-lg-10 col-xl-9 px-0" elementObserver (visible)="visible = true" [threshold]="0.25"
            [wait]="150">
            <div class="education-card my-3 my-sm-0" *ngFor="let card of personalEducation; let i = index;"
                [ngClass]="{smallactive: windowWidth<=576, active: i==0 && visible}" tabindex="0">
                <div class="label">{{i+1}}</div>
                <div class="icon">
                    <fa-icon [icon]="determineIcon(card.areaId)"></fa-icon>
                </div>
                <div class="info row justify-content-center justify-content-sm-end w-100 mx-0">
                    <div class="col-12 col-sm-8 col-md-9 col-lg-9 col-xl-10 px-1 px-sm-2 px-md-3">
                        <h1>{{card.title}}</h1>
                        <h2 class="mt-4 mt-md-5">{{card.institution!.name}}</h2>
                        <h5 class="mt-4 mt-md-5" id="date">{{card.startDate | date: 'MMM Y'}} - {{card.endDate | date:
                            'MMM Y'}}</h5>
                        <img [src]="card.institution!.logo" alt="{{card.institution!.name}} logo" class="mt-4 mt-md-5">
                    </div>
                </div>
                <app-edit-item class="edit-item" [editMode]="editMode" (deleteItem)="deleteItem(card)"
                    (updateItem)="passData(card)"></app-edit-item>
            </div>
        </div>
    </div>
</section>
<app-add-education (onAddItem)="addItem($event)" (onUpdateItem)="save($event)" [institutions]="institutions"
    [areas]="areas"></app-add-education>