<!-- <section class="education" id="education">
    <div class="cards mx-3">
        <div #card id="one" class="education-card active" >
            <div class="label">1</div>
            <div class="icon">
              <i class="fa-solid fa-coins"></i>
            </div>
            <div class="info">
              <h1>Education title</h1>
              <h3>Educational insitution</h3>
              <h5>2022 - 2026</h5>
            </div>
        </div>
        <div #card class="education-card">
            <div class="label">2</div>
          <div class="icon">
              <i class="fa-solid fa-laptop-code"></i>
            </div>
          <div class="info">
              <h1>Education title</h1>
              <h3>Educational insitution</h3>
              <h5>2022 - 2026</h5>
            </div>
        </div>
        <div #card class="education-card">
            <div class="label">3</div>
          <div class="icon">
              <i class="fa-solid fa-user-graduate"></i>
            </div>
          <div class="info">
              <h1>Education title</h1>
              <h3>Educational insitution</h3>
              <h5>2022 - 2026</h5>
            </div>
        </div>
    </div>
</section> -->


<section class="education" id="education" >
    <div class="cards mx-3">
        <div class="education-card" *ngFor="let card of personalInfo.education; let i = index;" [class.active]="i === 0">
            <div class="label">{{i+1}}</div>
            <div class="icon">
              <fa-icon [icon]="determineIcon(card.type)"></fa-icon>
            </div>
            <div class="info row justify-content-end">
                <div class="col-12 col-md-5 col-lg-7">
                    <h1>{{card.title}}</h1>
                    <h3>{{card.institution}}</h3>
                    <h5>{{card.period}}</h5>
                </div>
              
            </div>
        </div>
    </div>
</section>
