  section.education {
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .education .cards {
    display: flex;
    height: 100%;
    max-height: 600px;
  }

  .card-row {
    height: 75%;
  }

  h1.heading {
    color: var(--primary-color);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 1px;
  }

  .education-card {
    position: relative;
    margin: 5px;
    background-color: var(--cards-background);
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 0.5;
    transition: flex 0.5s ease-in;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 25px;
  }

  .education-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: ellipse(79% 74% at 0% 100%);
    background-color: var(--cards-background);
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .education-card:is(.active, .smallactive) {
    flex: 5;
    border-radius: 30px;
    cursor: default;
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    font-size: 50px;
    border-radius: 50%;
    font-family: "Averia Serif Libre";
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 10px;
    opacity: 0.5;
    transition: all ease-in-out 0.5s;
    z-index: 1;
  }

  .education-card:is(.active, .smallactive) .label {
    bottom: 20px;
    left: 50px;
    height: 300px;
    border-radius: 20px;
    font-size: 250px;
    width: 70px;
    opacity: 1;
  }

  .info {
    color: var(--oposite-color);
    background: var(--primary-color);
    height: 100%;
    text-align: right;
    padding-top: 20px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .info h1 {
    font-size: 45px;
    color: var(--plain-color);
    font-weight: 900;
    font-family: "Averia Serif Libre";
  }

  .info * {
    opacity: 0;
    transition: opacity .1s linear;
  }

  :is(.active, .smallactive) .info {
    opacity: 1;
    transition: opacity 0.5s ease-in-out .3s;
  }

  :is(.active, .smallactive) .info * {
    opacity: 1;
    transition: opacity .4s ease-in-out .3s;
  }

  h1::first-letter {
    text-transform: uppercase;
  }

  h3 {
    font-family: "Poppins", sans-serif;
  }

  #date {
    font-family: "Helvetica", sans-serif;
    text-transform: capitalize;
  }

  .icon {
    background: var(--oposite-color);
    position: absolute;
    top: 15px;
    left: 10px;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    font-size: 25px;
    border-radius: 50%;
    color: var(--primary-color);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .education-card:is(.active, .smallactive) .icon {
    opacity: 1;
    top: -50px;
    left: -10px;
    width: 150px;
    height: 180px;
    font-size: 60px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }

  .education-card .icon fa-icon {
    transition: padding-top ease-in-out 0.5s;
  }

  .education-card:is(.active, .smallactive) .icon fa-icon {
    padding-top: 40px;
  }

  .info img {
    border-radius: 10px;
    width: 100px;
  }

  @media screen and (width<=820px) {
    .education-card:not(:is(.active, .smallactive)) .icon {
      left: 8px;
      width: 40px;
      height: 40px;
      font-size: 20px;
    }

    .education-card:not(:is(.active, .smallactive)) .label {
      left: 8px;
    }

    .info img {
      width: 85px;
    }
  }

  @media screen and (width<=650px) {
    .education-card::after {
      display: none;
    }

    .info {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center !important;
      text-align: center;
    }

    .info h1 {
      color: var(--primary-color);
      font-size: 35px;
    }

    .education-card:is(.active, .smallactive) .icon {
      width: 100px;
      height: 100px;
      top: 0;
      left: 0;
      border-top-left-radius: 0;
      font-size: 50px;
    }

    .education-card:is(.active, .smallactive) .icon fa-icon {
      padding: 0;
    }

    .education-card:is(.active, .smallactive) .label {
      font-size: 150px;
      bottom: -20px;
      left: 20px;
    }

    .info img {
      width: 75px;
    }

    .education-card .info img:is([src='https://static.wixstatic.com/media/c4a9ae_77182ec5dde040c18e1c9aac46725938~mv2.png/v1/fill/w_188,h_194,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c4a9ae_77182ec5dde040c18e1c9aac46725938~mv2.png'], [src='https://upload.wikimedia.org/wikipedia/commons/a/a3/UBA.png']) {
      filter: invert(100%);
    }

    .education-card:not(:is(.active, .smallactive)) .icon {
      left: 2px;
    }

    .education-card:not(:is(.active, .smallactive)) .label {
      font-size: 35px;
      width: 20px;
      left: 2px;
    }
  }

  @media screen and (width<=576px) {
    section.education {
      height: auto;
    }

    .education .cards {
      display: block;
      max-height: none;
    }

    .cards .education-card.smallactive {
      display: block;
      height: 520px;
      cursor: default;
    }

    .cards .education-card.smallactive .label {
      font-size: 75px;
      height: 60px;
      bottom: 25px;
      left: 0;
    }
  }

  .edit-item {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: opacity ease-in-out .5s .3s;
  }

  .education-card:not(:is(.active, .smallactive)) .edit-item {
    opacity: 0;
    z-index: -1;
    transition: opacity ease-in-out .4s;
  }