section.education {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .education .cards {
    display: flex;
    align-items: center;
    width: 70vw;
    height: 75%;
    justify-content: center;
  }

  .row.edition{
    width:100%;
  }

  h1.heading{
      color:var(--primary-color);
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
  }
  
  .education-card {
    position: relative;
    margin: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    background-color: var(--cards-background);
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg);
    background-repeat: no-repeat;
    flex: 0.5;
    transition: flex 0.5s ease-in;
    height: 100%;
    overflow: hidden;
  }

  .education-card:not(.active) {
    cursor: pointer;
  }
  
  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--primary-color);
    font-size: 50px;
    border-radius: 50%;
    font-family: "Averia Serif Libre";
    font-weight: 600;
    position: absolute;
    right: 0;
    opacity: 0.5;
    transition: all ease-in-out 0.5s;
  }
  
  .education-card:is(.active, .smallactive) .label {
    bottom: 20px;
    left: 50px;
    height: 300px;
    border-radius: 20px;
    font-size: 250px;
    width: 70px;
    opacity: 1;
  }
  
  .education-card:is(.active, .smallactive) {
    flex: 5;
  }
  
  .education-card:not(:is(.active, .smallactive)) .label {
    bottom: 10px;
    left: 10px;
  }
  
  .info {
    color: var(--oposite-color);
    background: var(--primary-color);
    float: right;
    width: 100%;
    height: 100%;
    clip-path: polygon(calc(100% - 42.3vw) 0, 100% 0, 100% 100%, calc(100% - 13vw) 100%);
    text-align: right;
    padding-right: 40px;
    padding-top:20px;
    transition: opacity 0.5s ease-in-out .3s;
  }
  .info *{
    opacity: 0;
    transition: opacity .1s linear;
  }
  
  :is(.active, .smallactive) .info {
    opacity: 1;
  }

  :is(.active, .smallactive) .info * {
    opacity:1;
    transition: opacity .4s ease-in-out .3s;
  }
  
  .education-card:not(:is(.active, .smallactive)) .info {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  h1 {
    font-size: 50px;
    color: var(--plain-color);
    font-weight: 900;
    font-family: "Averia Serif Libre" !important;
  }
  h1::first-letter{
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
  }
  
  h5 {
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
  }

  #date{
    text-transform: capitalize;
  }
  
  .icon {
    background: var(--oposite-color);
    position: absolute;
    top: 15px;
    left: 10px;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    color: var(--primary-color);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    z-index:1;
  }
  
  .education-card:is(.active, .smallactive) .icon {
    opacity: 1;
    top: -50px;
    left: -10px;
    width: 150px;
    height: 180px;
    font-size: 60px;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
  }
  
  
  .education-card .icon fa-icon {
    transition: padding-top ease-in-out 0.5s;
  }

  .education-card:is(.active, .smallactive) .icon fa-icon {
    padding-top: 40px;
  }

  .info img{
    border-radius: 10px;
    width:100px;
  }
  
  @media screen and (width<1020px){
    .education .cards{
      width:95vw;
    }
    .info{
      clip-path: polygon(calc(100% - 50vw) 0, 100% 0, 100% 100%, calc(100% - 15vw) 100%);
    }
  }

  @media screen and (width<=820px) {
    .info{
      clip-path: polygon(calc(100% - 55vw) 0, 100% 0, 100% 100%, calc(100% - 15vw) 100%);
    }
    .education-card:not(:is(.active, .smallactive)) .icon{
      left:8px;
      width:40px;
      height:40px;
      font-size: 20px;
    }
    .education-card:not(:is(.active, .smallactive)) .label{
      left:8px;
    }
    .info img{
      width:85px;  
    }

  }
  

  @media screen and (width<=650px){
    .info .col-sm-6{
      width:102.9%;
    }
    .info{
      clip-path:none;
      background:transparent;
      display:flex;
      flex-direction:column;
      align-items:center;
      flex-direction:column;
      justify-content:flex-start !important;
      padding: 105px 17px 0 3px;
      text-align: center;
    }
    h1{
      color:var(--primary-color);
      font-size:40px;
    }
    .education-card:is(.active, .smallactive) .icon{
      width:100px;
      height:100px;
      top:0;
      left:0;
      border-top-left-radius:0;
      font-size:50px;
    }
    .education-card:is(.active, .smallactive) .icon fa-icon{
      padding:0;
    }
    .education-card:is(.active, .smallactive) .label{
      font-size:150px;
      bottom:-20px;
      left:20px;
    }

    .info img{
      width:75px;  
    }

    .education-card .info 
    img:is([src='https://static.wixstatic.com/media/c4a9ae_77182ec5dde040c18e1c9aac46725938~mv2.png/v1/fill/w_188,h_194,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c4a9ae_77182ec5dde040c18e1c9aac46725938~mv2.png'], [src='https://upload.wikimedia.org/wikipedia/commons/a/a3/UBA.png']){
      filter:invert(100%);
    }

    .education-card:not(:is(.active, .smallactive)) .icon{
      left:2px;
    }

    .education-card:not(:is(.active, .smallactive)) .label{
      font-size:35px;
      width:20px;
      left:2px;
    }
  }

  @media screen and (width<=576px){
    section.education{
      height:auto;
    }
    .education .cards{
      display: block;
    }
    .education-card{
      cursor: default;
    }
    .education-card:is(.active, .smallactive){
      display: block !important;
      height:520px;
    }
  }


  @media screen and (width<=450px){
    .education-card:is(.active, .smallactive) .label{
      font-size: 75px;
      height:60px !important;
      bottom: 25px;
      left:0;
    }
  }

  @media screen and (height<=600px) {
    .education .cards{
      height: auto;
      width:80vw;
      margin: 20px 0;
    }
  }

  @media screen and (height<400px){
    .education .cards{
      display: block;
      height: auto;
    }
    .education-card:is(.active, .smallactive){
      display: block !important;
      height:520px;
    }
  }

  .edit-item{
    position: absolute;
    bottom:0;
    right:0;
    opacity:1;
    transition: opacity ease-in-out .5s .3s;
  }

  .education-card:not(:is(.active, .smallactive)) .edit-item{
    opacity:0;
    z-index: -1;
    transition: opacity ease-in-out .4s;
  }

  .edit-item:not(.enabled){
    z-index: -1;
  }