<ng-template #content let-modal class="fade p-4" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormTitle" aria-hidden="true">
        <div class="modal-body container-fluid">
            <div class="row">
                <div class="col-9">
                    <p class="body-head ms-0 ms-sm-3">{{add?'Agregar estudio':'Editar estudio'}}</p>
                </div>
                <div class="col-3">
                    <button aria-hidden="true" type="button" class="close me-2 ms-auto d-flex justify-content-center align-items-center" data-dismiss="modal" aria-label="Close" tabindex="0" (click)="close()">
                        <fa-icon [icon]="faExit"></fa-icon>
                    </button>
                </div>
            </div>
            <form class="container px-0" [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
                <div class="row mt-5 px-0 px-md-3">
                    <label for="title" autocapitalize="letters"><h4>Título</h4></label>
                    <mat-form-field appearance="fill">
                        <mat-label>Introduzca su título</mat-label>
                        <input matInput placeholder="Ej. Medicina" id="title" name="title" formControlName="title">
                        <button *ngIf="Title?.value" class="close clear me-1" matSuffix aria-label="Clear" (click)="Title?.setValue('')">
                            <fa-icon [icon]="faExit"></fa-icon>
                        </button>
                        <mat-error *ngIf="Title?.hasError('minlength') && Title?.touched">El título debe tener al menos 6 caracteres</mat-error>
                    </mat-form-field>
                </div>
                <div class="row mt-4 px-0 px-md-3">
                    <h4>Institución</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione una institución...</mat-label>
                        <mat-select formControlName="institutionId" id="institutionId">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let item of institutions" [value]="item.id">
                              {{item.name}}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="row mt-4 px-0 px-md-3">
                    <h4>Área</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione un campo de estudio...</mat-label>
                        <mat-select formControlName="areaId" id="areaId">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let item of areas" [value]="item.id">
                              {{item.name}}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="row justify-content-between mt-4 px-0 px-md-3 gap-1">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <label for="startDate"><h4>Inicio</h4></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccione una fecha</mat-label>
                                <input matInput [matDatepicker]="startPicker" class="date" id="startDate" formControlName="startDate" [max]="today" placeholder="Fecha de inicio"/>
                                <mat-hint>MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
                                <mat-datepicker #startPicker
                                startView="multi-year"
                                (monthSelected)="setMonthAndYear($event, StartDate!, startPicker)"
                                panelClass="datepicker"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <label for="endDate"><h4>Fin (o esperado)</h4></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccione una fecha</mat-label>
                                <input matInput [matDatepicker]="endPicker" class="date" id="endDate" formControlName="endDate" placeholder="Fecha de fin"/>
                                <mat-hint>MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
                                <mat-datepicker #endPicker
                                startView="multi-year"
                                (monthSelected)="setMonthAndYear($event, EndDate!, endPicker)"
                                panelClass="datepicker"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-5 pt-5">
                    <input class="btn btn-lg btn-block col-7 cl-sm-5 submit" type="submit" value="Guardar" [class.btn-outline-secondary]="!form.valid" NgbAutofocus/>
                </div>
            </form>
        </div>
</ng-template>