<!-- <div #asModal class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
      <div class="modal-content">
        <div class="modal-body container-fluid">
            <div class="row">
                <div class="col-10">
                    <p class="body-head ms-0 ms-sm-3">Agregar estudio</p>
                </div>
                <div class="col-2">
                    <span aria-hidden="true" type="button" class="close me-0 me-sm-2 ms-auto d-flex justify-content-center align-items-center" data-dismiss="modal" aria-label="Close" tabindex="0">
                        <fa-icon [icon]="faExit"></fa-icon>
                    </span>
                </div>
            </div>
            <form class="container px-0" [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
                <div class="row justify-content-center mt-5 px-3">
                    <label for="title"><h4>Título</h4></label>
                    <input type="text" class="form-control" id="title" name="title" formControlName="title" placeholder="Tu título"/>
                    <p class="error"><span *ngIf="Username?.hasError('required') && Username?.touched">Username required</span></p>
                </div>
                <div class="row justify-content-center mt-5 px-3">
                    <label for="area"><h4>Área</h4></label>
                    <input type="text" class="form-control" id="area" name="area" formControlName="area" placeholder="Campo de estudio"/>
                    <p class="error"><span *ngIf="Username?.hasError('required') && Username?.touched">Username required</span></p>
                </div>
                <div class="row justify-content-center mt-5 px-3">
                    <label for="institution"><h4>Institución</h4></label>
                    <input type="text" class="form-control" id="institution" name="institution" formControlName="institution" placeholder="Tu institución educativa"/>
                    <p class="error"><span *ngIf="Username?.hasError('required') && Username?.touched">Username required</span></p>
                </div>
                <div class="row justify-content-between mt-5 px-3 gap-1">
                    <div class="col-5">
                        <div class="row">
                            <label for="startDate"><h4>Inicio</h4></label>
                            <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate"/>
                        </div>
                        <p class="error"><span *ngIf="Username?.hasError('required') && Username?.touched">Username required</span></p>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <label for="endDate"><h4>Fin</h4></label>
                            <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate"/>
                            <p class="error"><span *ngIf="Username?.hasError('required') && Username?.touched">Username required</span></p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mb-5 pt-5">
                    <input class="btn btn-lg btn-block col-5 submit" type="submit" value="Guardar" [class.btn-outline-secondary]="!form.valid" onclick="blur()"/>
                </div>
            </form>
        </div>
      </div>
    </div>
</div> -->

<ng-template #content let-modal class="fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="editFormTitle" aria-hidden="true">
        <div class="modal-body container-fluid">
            <div class="row">
                <div class="col-10">
                    <p class="body-head ms-0 ms-sm-3">Agregar estudio</p>
                </div>
                <div class="col-2">
                    <button aria-hidden="true" type="button" class="close me-0 me-sm-2 ms-auto d-flex justify-content-center align-items-center" data-dismiss="modal" aria-label="Close" tabindex="0" (click)="close()">
                        <fa-icon [icon]="faExit"></fa-icon>
                    </button>
                </div>
            </div>
            <form class="container px-0" [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
                <div class="row justify-content-center mt-5 px-3">
                    <label for="title"><h4>Título</h4></label>
                    <input type="text" class="form-control" id="title" name="title" formControlName="title" placeholder="Tu título"/>
                    <p class="error"><span *ngIf="Title?.hasError('required') && Title?.touched">Título requerido</span></p>
                </div>
                <div class="row justify-content-center mt-4 px-3">
                    <label for="institution"><h4>Institución</h4></label>
                    <!-- <input type="text" class="form-control" id="institution" name="institution" formControlName="institution" placeholder="Tu institución educativa"/> -->
                    <div class="custom-select px-0">
                        <select class="form-control" name="institution" formControlName="institutionId" id="institution">
                            <option [ngValue]="null" selected [disabled]="true">Seleccione una institución...</option>
                            <option *ngFor="let item of institutions" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <p class="error"><span *ngIf="InstitutionId?.hasError('required') && InstitutionId?.touched">Institución requerida</span></p>
                </div>
                <div class="row justify-content-center mt-4 px-3">
                    <label for="area"><h4>Área</h4></label>
                    <input type="text" class="form-control" id="area" name="area" formControlName="area" placeholder="Campo de estudio"/>
                    <p class="error"><span *ngIf="Area?.hasError('required') && Area?.touched">Área requerida</span></p>
                </div>
                <div class="row justify-content-between mt-4 px-3 gap-1">
                    <div class="col-5">
                        <div class="row">
                            <label for="startDate"><h4>Inicio</h4></label>
                            <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate" [max]="today"/>
                        </div>
                        <p class="error"><span *ngIf="StartDate?.hasError('required') && StartDate?.touched">Fecha de inicio requerida</span></p>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <label for="endDate"><h4>Fin</h4></label>
                            <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate"/>
                        </div>
                        <p class="error"><span *ngIf="EndDate?.hasError('required') && EndDate?.touched">Fecha de fin requerida</span></p>
                    </div>
                </div>
                <div class="row justify-content-center mb-5 pt-5">
                    <input class="btn btn-lg btn-block col-5 submit" type="submit" value="Guardar" [class.btn-outline-secondary]="!form.valid" NgbAutofocus/>
                </div>
            </form>
        </div>
</ng-template>