.edit {
  display: inline-flex;
  flex-direction: column;
}

.edit.horizontal{
  flex-direction: row;
}

.icon-wrapper {
  background: #9b9d9e;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 3px solid white;
  transition: background-color ease-in-out 0.3s,
    border ease-in-out 0.3s;
  z-index: 4;
  overflow: hidden;
  position: relative;
  color: white;
}
.icon-wrapper fa-icon {
  font-size: 25px;
  transition: color ease-in-out 0.3s;
  display: grid;
  place-items: center;
}
.discard{
  z-index: 2;
}
.add{
  z-index: 3;
}

.edit :is(.discard, .add){
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in 0.1s, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

:not(.horizontal) .discard{
  transform: translateY(var(--translation));
  margin-top: 10px;
}
:not(.horizontal) .add{
  transform:translateY(-65px);
  margin-top: 10px;
}
.horizontal .discard{
  transform: translateX(var(--translation));
  margin-left: 10px;
}

.horizontal .add{
  transform: translateX(-65px);
  margin-left: 10px;
}

.editing:is(.horizontal, :not(.horizontal)) :is(.discard, .add) {
  opacity: 1;
  transform: translateY(0) translateX(0);
}
.add fa-icon {
  font-size: 30px;
}

fa-icon.check {
  opacity: 0;
  position: absolute;
  font-size: 50px;
  transform: translateY(-110%);
  rotate: 5deg;
  transition: opacity ease-in 0.3s, transform ease-in 0.3s 0.1s;
}

:not(.editing) .icon-wrapper:is(:hover, :focus), .editing .icon-wrapper{
  background: black;
  border-color: #9b9d9e;
  outline: transparent;
  color: #9b9d9e;
}
.editing .icon-wrapper:is(:hover, :focus){
  color: var(--oposite-color);
  border-color: var(--oposite-color);
}
.editing .icon-wrapper.discard:is(:hover, :focus){
  background-color: red;
}

.editing .icon-wrapper.add:is(:hover, :focus){
  background-color: var(--primary-color);
}

.editing .icon-wrapper:has(.check):is(:hover, :focus){
  background-color: rgba(0, 163, 0, 0.758);
}

fa-icon.edit-toggle {
  opacity: 1;
  transition: opacity ease-in 0.3s 0.1s;
}

.editing .edit-toggle {
  opacity: 0.3;
  transition: opacity ease-in 0.3s;
}

.editing .check {
  opacity: 1;
  transform: translateY(0);
  transition: opacity ease-in 0.3s 0.1s, transform ease-in 0.3s;
}
  
@media screen and (width<800px){
  .icon-wrapper{
    height: 40px;
    width: 40px;
    border-width: 2px;
  }

  .icon-wrapper fa-icon{
    font-size: 19px;
  }

  .add fa-icon {
    font-size: 24px;
  }

  :not(.horizontal) .discard{
    transform: translateY(var(--translation));
    margin-top: 7px;
  }

  :not(.horizontal) .add{
    transform: translateY(-47px);
    margin-top: 7px;
  }
  
  .horizontal .discard{
    transform: translateX(var(--translation));
    margin-left: 7px;
  }

  .horizontal .add{
    transform: translateX(-47px);
    margin-left: 7px;
  }
}