<section class="container-fluid my-3 inverse py-5" id="skills">
    <app-edition [showAdding]="true" (adding)="toggleModal()" class="m-1 m-sm-4 m-md-0 m-lg-4"></app-edition>
    <div class="row pb-lg-5 mt-2">
        <article class="col-12 col-lg-8 mb-5 mb-lg-0 skills" cdkDropList (cdkDropListDropped)="drop($event)">
            <h1 class="title ms-sm-1 ms-lg-5  mb-5 text-sm-center text-lg-start">Habilidades</h1>
            <div class="container-fluid mt-4 ps-1 ps-lg-5 me-1 pe-5 pe-sm-4 pe-lg-2 mb-4" *ngFor="let skill of skills">
                <app-skill-item [skill]="skill"></app-skill-item>
            </div>
        </article>
        <article class="col-12 col-lg-4 pt-3 pt-lg-0 languages">
            <h1 class="title ms-1 ms-lg-5 mt-5 mt-lg-0 text-center">Idiomas</h1>
            <div class="container-fluid my-5 ps-1 ps-lg-5" *ngFor="let language of languages">
                <app-languages [language]="language"></app-languages>
            </div>
        </article>
    </div>
</section>
<app-add-skill ></app-add-skill>

<!-- cdkDrag -->
<!-- ESO VA EN LA LINEA DEL NGFOR -->