section{
    height: 100vh;
    align-items: center;
}

.title{
    color:#23b3e4;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

@media screen and (width<992px){
    #languages{
        border-top:5px solid black
    }
}