.modal-backdrop{
    opacity:0.75 !important;
}

.modal-content{
    background-color: #212529;
    color:white;
    border-radius: 10px;
    padding: 10px;
}
@media screen and (width>576px) {
    .modal-content{
        min-width: 650px;
    }
}
.modal-header .modal-title{
    font-size: 30px;
    color: rgba(255, 255, 255, 0.719);
}

.modal-header .close{
    font-size: 25px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.719);
    width: 40px;
    height: 40px;
    border:3px solid transparent;
    transition: color ease-in-out .3s,
                border ease-in-out .3s;
}
.modal-header .close:hover, .modal-header .close:focus{
    border:3px solid #23b3e4;
    color:#23b3e4;
    outline: none;
}

.modal-body{
    font-size: 20px;
    color:#e6e6e7c5;
}

.modal-body .body-head{
    font-size: 25px;
    font-weight: 500;
    color:#878a8c;
}

.modal-body p.label{
    font-weight: bolder;
    color: #23b3e4;
    font-size: 22.5px;
}
.modal-body i{
    color: #23b3e4;
}
.modal-body fa-icon{
    color: #23b3e4;
}

.modal-body p span{
    text-transform: capitalize;
}

.modal-body p a{
    text-decoration: none;
    color: white;
    transition: color linear .2s;
}
.modal-body p a:hover, .modal-body p a:focus{
    color: #0d6efd;
    outline: none;
}