section {
    min-height: 100vh;
    padding-inline: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow-x: hidden;
}

.timeline::before {
    content: '';
    background-color: var(--plain-color);
    width: 4px;
    height: 100%;
    position: absolute;
    left: calc(50% - 2px);
}

.item {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    transition: opacity .9s ease-in-out, transform .9s ease-in-out;
}

.item:nth-child(odd) {
    padding-left: calc(50% + 100px);
}

.item:nth-child(even) {
    padding-right: calc(50% + 100px);
    text-align: right;
}

.item:first-child {
    padding-top: 40px;
}

.content {
    border-radius: 10px;
    background-color: var(--plain-color);
    border: 2px solid var(--primary-color);
    position: relative;
}

.content::before,
.content::after {
    transition: opacity .5s ease-in-out 1s;
}

.content::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    position: absolute;
    left: -112px;
    top: calc(50% - 10px);
    border-radius: 50%;
}

.content::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: var(--primary-color);
    left: -100px;
    top: calc(50% - 1px);
}

.item:nth-child(even) .content::before {
    right: -112px;
    left: auto;
}

.item:nth-child(even) .content::after {
    right: -100px;
    left: auto;
}

.item:not(.visible) .content::before,
.item:not(.visible) .content::after {
    opacity: 0;
}

.item h3 {
    text-transform: capitalize;
}

.date {
    text-transform: capitalize;
    color: var(--tertiary-color);
}

.position {
    color: var(--modal-color);
}

.description {
    overflow: hidden;
    color: var(--oposite-color);
}

.type {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--primary-color);
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    padding-inline: 20px !important;
    transform: translateX(105%);
    transition: transform .4s ease-in-out;
    font-weight: bold;
    font-family: 'Averia Serif Libre', cursive;
    text-transform: capitalize;
}

.item:nth-child(even) .type {
    left: 0;
    right: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    transform: translateX(-100%);
}

.item:first-child .type {
    top: 40px;
}

.content:hover~.type,
.item .type:hover {
    transform: translateX(0) !important;
}

.item:not(.visible) {
    opacity: 0;
}

.item:not(.visible).item:nth-child(odd) {
    transform: translateX(30%);
}

.item:not(.visible).item:nth-child(even) {
    transform: translateX(-30%);
}

@media screen and (width<900px) {
    .timeline::before {
        left: 23px;
    }

    .item {
        padding-left: 125px !important;
        padding-right: 0 !important;
        text-align: left !important;
    }

    .item:nth-child(even) .content::before {
        left: -112px;
        right: auto;
    }

    .item:nth-child(even) .content::after {
        left: -100px;
        right: auto;
    }

    .item:nth-child(even) .type {
        left: auto;
        right: 0;
        border-top-left-radius: 400px;
        border-bottom-left-radius: 400px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateX(100%);
    }
}

@media screen and (width<470px) {
    .timeline::before {
        left: 15px;
    }

    .item {
        padding-left: 50px !important;
    }

    .content {
        padding: 7.5px !important;
    }

    .content::after {
        left: -35px !important;
        width: 35px;
    }

    .content::before {
        left: -45px !important;
    }

    .item .type {
        padding-right: 5px !important;
        padding-left: 10px !important;
        font-size: 18px;
    }
}

@media screen and (width<=350px) {
    .type {
        display: none;
    }

    .description {
        text-align: start;
    }

    .timeline::before {
        display: none;
    }

    .content::after,
    .content::before {
        display: none;
    }

    .item {
        padding: 0 !important;
    }
}